<%= simple_form_for @consulta_procedimento, :html => { :class => 'form-horizontal' } do |f| %>
 <%= f.label :paciente %>
  <%= f.text_field :consulta_id, :disabled => true, :value => @consulta.try(:paciente).try(:nome)%>
  <div class="field">
    <%= f.label :procedimento_id %>
    <%= text_field_tag :procedimento_nome %> +
    <%= f.hidden_field :procedimento_id %>
  </div>
  <%= f.input :valor %>
  <br>
  <%= check_box_tag :fatura %>  Adicionar a Fatura 
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                consulta_procedimentos_path, :class => 'btn' %>
  </div>
<% end %>
<script>
jQuery(function($){
  $.ajax({
      url: "../procedimentos.xml",
      dataType: "xml",
      success: function( xmlResponse ) {
        var data = $( "procedimento", xmlResponse ).map(function() {
          return {
            value: $( "nome", this ).text(),
            id: $( "id", this ).text()
          };
        }).get();
        $( "#procedimento_nome" ).autocomplete({
          source: data,
          minLength: 0,
          select: function(event, ui) {
                $('#procedimento_nome').val(ui.item.nome);
                $('#consulta_procedimento_procedimento_id').val(ui.item.id);
                $('#consulta_procedimento_valor').val(ui.item.valor);
            },
        });
      }
    });
};
  </script>
