<p id="notice"><%= notice %></p>

<p>
  <strong>Clinica:</strong>
  <%= @consulta_procedimento.clinica_id %>
</p>

<p>
  <strong>Procedimento:</strong>
  <%= @consulta_procedimento.procedimento_id %>
</p>

<p>
  <strong>Consulta:</strong>
  <%= @consulta_procedimento.consulta_id %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @consulta_procedimento.valor %>
</p>

<%= link_to 'Edit', edit_consulta_procedimento_path(@consulta_procedimento) %> |
<%= link_to 'Back', consulta_procedimentos_path %>
