<%= simple_form_for @clinica, :html => { :class => 'form-horizontal' } do |f| %>
<% if @clinica.errors.any? %>
<h6><%= pluralize(@clinica.errors.count, "Erros encontrado(s) no formulario") %> </h6>
<div class="alert alert-error">
	<a class="close" data-dismiss="alert">x</a>
	<% @clinica.errors.full_messages.each do |msg| %>
	<%= msg %>
	<br>
	<% end %>
</div>
<% end %>
<%= f.input :nome %>
<%= f.input :email %>
<%= f.input :password, label: 'Senha' %>
<div class="form-actions">
	<%= f.button :submit, :class => 'btn-primary' %>
	<%= link_to t('.cancel', :default => t("helpers.links.cancel")),
	clinicas_path, :class => 'btn' %>
</div>
<% end %>
