<%= simple_form_for @descritivo_fatura, :html => { :class => 'form-horizontal' } do |f| %>
  <%if params[:fatura_id] %>
    <%= f.input :fatura_id, :input_html => {:value => params[:fatura_id], :readonly => "true"} %>
  <%else%>
    <%= f.input :fatura_id %>
  <%end%>
  <%= f.input :descricao %>
  <%= f.input :valor %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                descritivo_faturas_path, :class => 'btn' %>
  </div>
<% end %>
