<%= simple_form_for @fatura, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :consulta_id %>
  <%= f.input :descricao %>
  <%= f.input :desconto %>
  <%= f.input :vencimento %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                faturas_path, :class => 'btn' %>
  </div>
<% end %>
