<%- model_class = Fatura -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:consulta_id) %></th>
      <th><%= model_class.human_attribute_name(:descricao) %></th>
      <th>Paciente</th>
      <th><%= model_class.human_attribute_name(:vencimento) %></th>
      <th>Total</th>
      <th><%= Data %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @faturas.each do |fatura| %>
      <tr>
        <td><%= link_to "Visualizar Fatura #{fatura.id}", fatura_path(fatura) %></td>
        <td><%= link_to "Visualizar Consulta", consulta_path(fatura.consulta) %></td>
        <td><%= fatura.descricao %></td>
        <td><%= fatura.consulta.paciente.nome %></td>
        <td><%= fatura.vencimento %></td>
        <td>R$<%= fatura.try(:total_fatura) %></td>
        <td><%= fatura.created_at.strftime("%m/%d/%Y") %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_fatura_path(fatura), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      fatura_path(fatura),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
          <%= link_to "Adicionar Procedimento", new_descritivo_fatura_path(:fatura_id => fatura.id), :class => 'btn-primary btn-mini'          %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_fatura_path,
            :class => 'btn btn-primary' %>
