<%= semantic_form_for @procedimento, :html => { :class => 'form-horizontal' } do |f| %>
<% if @procedimento.errors.any? %>
<div class="alert alert-error">
<%= f.semantic_errors *f.object.errors.keys%>
</div>
<%end%>
  <div class="control-group">
    <%= f.label :nome, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :nome, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :tipo, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :tipo, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :valor, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :valor, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :custo, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :custo, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                procedimentos_path, :class => 'btn' %>
  </div>
<% end %>
<%= javascript_include_tag :'jquery.maskedinput.min' %>
<script>
jQuery(function($){
         $("#procedimento_valor").number( true, 2 );
         $("#paciente_user_telefone").mask("(99)9999-999");
         $("#paciente_user_cpf").mask("999.999.999-99");
         $('#paciente_user_rg').mask('99.999.999-9');
         $('#paciente_user_cep').mask('99999-999');
         $('#paciente_user_rg').mask('99.999.999-9');
         $('#paciente_user_celular').mask("(99) 9999-9999?9").ready(function(event) {
            var target, phone, element;
            target = (event.currentTarget) ? event.currentTarget : event.srcElement;
            phone = target.value.replace(/\D/g, '');
            element = $(target);
            element.unmask();
            if(phone.length > 10) {
                element.mask("(99) 99999-999?9");
            } else {
                element.mask("(99) 9999-9999?9");  
            }
});
  });
</script>

