<%- model_class = Dentista -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:nome) %>:</strong></dt>
  <dd><%= @dentista.nome %></dd>
  <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
  <dd><%= @dentista.email %></dd>
  <dt><strong><%= model_class.human_attribute_name(:password) %>:</strong></dt>
  <dd><%= @dentista.password %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sexo) %>:</strong></dt>
  <dd><%= @dentista.sexo %></dd>
  <dt><strong><%= model_class.human_attribute_name(:data_nasc) %>:</strong></dt>
  <dd><%= @dentista.data_nasc %></dd>
  <dt><strong><%= model_class.human_attribute_name(:estado_civil) %>:</strong></dt>
  <dd><%= @dentista.estado_civil %></dd>
  <dt><strong><%= model_class.human_attribute_name(:cep) %>:</strong></dt>
  <dd><%= @dentista.cep %></dd>
  <dt><strong><%= model_class.human_attribute_name(:rua) %>:</strong></dt>
  <dd><%= @dentista.rua %></dd>
  <dt><strong><%= model_class.human_attribute_name(:numero) %>:</strong></dt>
  <dd><%= @dentista.numero %></dd>
  <dt><strong><%= model_class.human_attribute_name(:bairro) %>:</strong></dt>
  <dd><%= @dentista.bairro %></dd>
  <dt><strong><%= model_class.human_attribute_name(:cidade) %>:</strong></dt>
  <dd><%= @dentista.cidade %></dd>
  <dt><strong><%= model_class.human_attribute_name(:uf) %>:</strong></dt>
  <dd><%= @dentista.uf %></dd>
  <dt><strong><%= model_class.human_attribute_name(:complemento) %>:</strong></dt>
  <dd><%= @dentista.complemento %></dd>
  <dt><strong><%= model_class.human_attribute_name(:telefone) %>:</strong></dt>
  <dd><%= @dentista.telefone %></dd>
  <dt><strong><%= model_class.human_attribute_name(:celular) %>:</strong></dt>
  <dd><%= @dentista.celular %></dd>
  <dt><strong><%= model_class.human_attribute_name(:identidade_rg) %>:</strong></dt>
  <dd><%= @dentista.identidade_rg %></dd>
  <dt><strong><%= model_class.human_attribute_name(:orgao_rg) %>:</strong></dt>
  <dd><%= @dentista.orgao_rg %></dd>
  <dt><strong><%= model_class.human_attribute_name(:cpf) %>:</strong></dt>
  <dd><%= @dentista.cpf %></dd>
  <dt><strong><%= model_class.human_attribute_name(:cro) %>:</strong></dt>
  <dd><%= @dentista.cro %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              dentistas_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_dentista_path(@dentista), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              dentista_path(@dentista),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>

<div class="page-header">
  <h1>Consultas</h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:data) %></th>
      <th>Horario </th>
      <th><%= model_class.human_attribute_name(:tipo) %></th>
      <th><%= model_class.human_attribute_name(:paciente_id) %></th>
      <th><%= model_class.human_attribute_name(:convenio_id) %></th>
      <th><%= model_class.human_attribute_name(:dentista_id) %></th>
      <th><%= model_class.human_attribute_name(:status) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @dentista.consulta.each do |consulta| %>
      <tr>
        <td><%= link_to consulta.id, consulta_path(consulta) %></td>
        <td><%= formata_data(consulta.data) %></td>
        <td><%= "#{consulta.hora_inicio}:#{consulta.hora_fim}" %></td>
        <td><%= consulta.tipo %></td>
        <td><%= consulta.paciente.try(:nome) %></td>
        <td><%= consulta.try(:convenio).try(:nome_fantasia) %></td>
        <td><%= consulta.dentista.try(:nome) %></td>
        <td><%= consulta.status %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_consulta_path(consulta), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      consulta_path(consulta),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
          <%= link_to 'Confirmar',
                      consulta_confirmar_consulta_path(consulta), :class => 'btn btn-mini btn-primary' %>
          <%= link_to 'Adicionar Procedimento', new_consulta_procedimento_path(:consulta_id => consulta.id), :class => 'btn btn-mini btn-primary' %>

          <a data-target="#myModal" href="<%=consulta_path(consulta)%>" role="button" class="btn btn-mini" data-toggle="modal">Visualizar</a>

        </td>
      </tr>
    <% end %>
  </tbody>
</table>