<style type="text/css">
  .direito{
    position: absolute;
    margin-left:280px;
    top:150px;
  }
</style>
<%= form_for(@consulta) do |f| %>
  <% if @consulta.errors.any? %>
      <h6><%= pluralize(@consulta.errors.count, "Erros encontrado(s) no formulario") %> </h6>
    <%= render 'layouts/errorform' %>
  <% end %>
  <% if action_name.include?('edit') %>
    <h5> Preencha os campos que deseja editar </h3>
  <%end%>
  <div class="field">
    <%= f.label :paciente_id %>
    <%= text_field_tag :paciente_nome %>
    <%= f.hidden_field :paciente_id %>
  </div>
  <div class="field">
    <%= f.label :data %>
    <%= f.text_field :data %>
  </div>
  <div class="field">
    <%= f.label :'hora inicio/fim' %>
    <%= f.text_field :hora_inicio, :class=>"input-mini"%>
    <%= f.text_field :hora_fim, :class=>"input-mini"%>
  </div>
  <div class="field">
    <%= f.label :tipo %>
    <%= f.select(:tipo, ['Avaliação', 'Procedimento', 'Retorno']) %>
  </div>
  <!--
  <div class="field">
    <%= f.label :procedimento_id %>
    <%= text_field_tag :procedimento_nome %> +
    <%= f.hidden_field :procedimento_id %>
  </div>
  -->
  <div class="field">
    <%= f.label :convenio_id %>
    <%= text_field_tag :convenio_nome %>
    <%= f.hidden_field :convenio_id %>
  </div>
  <div class="direito">
    <div class="field">
      <%= f.label :dentista_id %>
      <%= text_field_tag :dentista_nome %>
      <%= f.hidden_field :dentista_id %>
    </div>
    <div class="field">
      <%= f.label :observacao %>
      <%= f.text_area :observacao %>
    </div>
    <div class="field">
      <%= f.label :status %>
      <%= f.select(:status, ['Marcado', 'Confirmado', 'Aguardando', 'Em Andamento', 'Atendido', 'Cancelado', 'Desmarcado']) %>
    </div>
  </div>
<div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                consultas_path, :class => 'btn' %>
  </div>
<% end %>
<script>
jQuery(function($){
  $("#consulta_data").datepicker({
    dateFormat: 'dd/mm/yy',
    dayNamesMin: ['D','S','T','Q','Q','S','S','D'],
    monthNames: ['Janeiro','Fevereiro','Março','Abril','Maio','Junho','Julho','Agosto','Setembro','Outubro','Novembro','Dezembro'],
    nextText: 'Próximo',
    prevText: 'Anterior'
    });
  $("#consulta_hora_inicio").mask('99:99');
  $("#consulta_hora_fim").mask('99:99');
      $.ajax({
      url: "../pacientes.xml",
      dataType: "xml",
      success: function( xmlResponse ) {
        var data = $( "paciente", xmlResponse ).map(function() {
          return {
            value: $( "nome", this ).text(),
            id: $( "id", this ).text()
          };
        }).get();
        $( "#paciente_nome" ).autocomplete({
          source: data,
          minLength: 0,
          select: function(event, ui) {
                $('#paciente_nome').val(ui.item.nome);
                $('#consulta_paciente_id').val(ui.item.id);
            },
        });
      }
    });
  });
  $.ajax({
      url: "../procedimentos.xml",
      dataType: "xml",
      success: function( xmlResponse ) {
        var data = $( "procedimento", xmlResponse ).map(function() {
          return {
            value: $( "nome", this ).text(),
            id: $( "id", this ).text()
          };
        }).get();
        $( "#procedimento_nome" ).autocomplete({
          source: data,
          minLength: 0,
          select: function(event, ui) {
                $('#procedimento_nome').val(ui.item.nome);
                $('#consulta_procedimento_id').val(ui.item.id);
            },
        });
      }
    });
  $.ajax({
      url: "../convenios.xml",
      dataType: "xml",
      success: function( xmlResponse ) {
        var data = $( "convenio", xmlResponse ).map(function() {
          return {
            value: $( "nome-fantasia", this ).text(),
            id: $( "id", this ).text()
          };
        }).get();
        $( "#convenio_nome" ).autocomplete({
          source: data,
          minLength: 0,
          select: function(event, ui) {
                $('#convenio_nome').val(ui.item.nome);
                $('#consulta_convenio_id').val(ui.item.id);
            },
        });
      }
    });
    $.ajax({
      url: "../dentistas.xml",
      dataType: "xml",
      success: function( xmlResponse ) {
        var data = $( "dentista", xmlResponse ).map(function() {
          return {
            value: $( "nome", this ).text(),
            id: $( "id", this ).text()
          };
        }).get();
        $( "#dentista_nome" ).autocomplete({
          source: data,
          minLength: 0,
          select: function(event, ui) {
                $('#dentista_nome').val(ui.item.nome);
                $('#consulta_dentista_id').val(ui.item.id);
            },
        });
      }
    });
  </script>
  <%= javascript_include_tag "mask" %>