<%- model_class = Consulta -%>
<div class="page-header">
  <h1>Listar Consultas</h1>

</div>

<form class="form-search pull-right">
<div class="input-append">
<input type="text" id="search" placeholder="Nome do paciente" name="search" class="span2 search-query" autocomplete="off">
<button type="submit" class="btn">Buscar Consulta</button>
</div>
</form>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:data) %></th>
      <th>Horario </th>
      <th><%= model_class.human_attribute_name(:tipo) %></th>
      <th><%= model_class.human_attribute_name(:procedimento_id) %></th>
      <th><%= model_class.human_attribute_name(:paciente_id) %></th>
      <th><%= model_class.human_attribute_name(:convenio_id) %></th>
      <th><%= model_class.human_attribute_name(:dentista_id) %></th>
      <th><%= model_class.human_attribute_name(:status) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @consultas.each do |consulta| %>
      <tr>
        <td><%= link_to consulta.id, consulta_path(consulta) %></td>
        <td><%= formata_data(consulta.data) %></td>
        <td><%= "#{consulta.hora_inicio}:#{consulta.hora_fim}" %></td>
        <td><%= consulta.tipo %></td>
        <td><%= consulta.procedimento.try(:nome) %></td>
        <td><%= consulta.paciente.try(:nome) %></td>
        <td><%= consulta.try(:convenio).try(:nome_fantasia) %></td>
        <td><%= consulta.dentista.try(:nome) %></td>
        <td><%= consulta.status %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_consulta_path(consulta), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      consulta_path(consulta),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
          <%= link_to 'Confirmar',
                      confirmar_consulta_consultas_path(:id => consulta.id), :class => 'btn btn-mini btn-primary' %>

          <a data-target="#myModal" href="<%=consulta_path(consulta)%>" role="button" class="btn btn-mini" data-toggle="modal">Visualizar</a>

        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @consultas, :theme => 'twitter-bootstrap' %>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_consulta_path,
            :class => 'btn btn-primary' %>
<%= link_to 'Calendario de Consultas', calendario_consultas_path, :class => 'btn btn-primary' %>
<a data-target="#myModal" href="../consultas" role="button" class="btn" data-toggle="modal">Launch demo modal</a>

<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel"></h3>
  </div>
  <div class="modal-body">
    <p>One fine body…</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary">Save changes</button>
  </div>
</div>​ 

<script>
jQuery(function($){
$.ajax({
      url: "<%= pacientes_path(:format => :xml) %>",
      dataType: "xml",
      success: function( xmlResponse ) {
        var data = $( "paciente", xmlResponse ).map(function() {
          return {
            value: $( "nome", this ).text(),
          };
        }).get();
        $( "#search" ).autocomplete({
          source: data,
          minLength: 2,
          select: function(event, ui) {
                $('#search').val(ui.item.nome);
            },
        });
      }
    });
  });
</script>