<%- model_class = Consulta -%>
<div class="page-header">
  <h1>Consulta <%= @consulta.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong>Data da Consulta:</strong></dt>
  <dd><%= formata_data(@consulta.data) %></dd>
  <dt><strong>Hora Inicio:</strong></dt>
  <dd><%= @consulta.hora_inicio %></dd>
  <dt><strong>Hora Fim:</strong></dt>
  <dd><%= @consulta.hora_fim %></dd>
  <dt><strong>Tipo da Consulta :</strong></dt>
  <dd><%= @consulta.tipo %></dd>
  <dt><strong>Procedimento:</strong></dt>
  <dd><%= @consulta.procedimento.nome %></dd>
  <dt><strong>Paciente:</strong></dt>
  <dd><%= @consulta.paciente.nome %></dd>
  <dt><strong>Convenio:</strong></dt>
  <dd><%= @consulta.convenio.nome_fantasia %></dd>
  <dt><strong>Dentista:</strong></dt>
  <dd><%= @consulta.dentista.try(:nome) %></dd>
  <dt><strong>Observações:</strong></dt>
  <dd><%= @consulta.observacao %></dd>
  <dt><strong>Status:</strong></dt>
  <dd><%= @consulta.status %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              consultas_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_consulta_path(@consulta), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              consulta_path(@consulta),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
