<%= link_to "Odontow", root_path, :class => 'brand' %>

<ul class="nav">
  <%unless current_user%>
    <ul class="nav">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Login<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><%= link_to('Clinica', new_sessiom_path) %></li>
            <li><%= link_to('Dentista', dentista_sessions_path) %></li>
      </li>
    </ul>
<%end%>
  <%# MENU PARA USUARIOS LOGADOS %>
  <% if current_user %>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Cadastrar <b class="caret"></b></a>
      <ul class="dropdown-menu">
      <li><%= link_to('Convenio', new_convenio_path) %></li>
      <li><%= link_to('Cosulta', new_consulta_path) %></li>
      <li><%= link_to('Dentista', new_dentista_path) %></li>
      <li><%= link_to('Paciente', new_paciente_path) %></li>
      <li><%= link_to('Procedimento', new_procedimento_path) %></li>
      <li class="divider"></li>
      <li class="nav-header">Cofinguração</li>
      <li><%= link_to('Dados da Clinica', edit_clinica_path(session[:clinica_id])) %></li>
      </ul>
    </li>

    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Listar <b class="caret"></b></a>
      <ul class="dropdown-menu">
      <li><%= link_to('Calendario de Consultas', calendario_consultas_path) %></li>
      <li><%= link_to('Consultas', consultas_path) %></li>
      <li><%= link_to('Dentistas', dentistas_path) %></li>
      <li><%= link_to('Faturas', faturas_path) %></li>
      <li><%= link_to('Pacientes', pacientes_path) %></li>
      <li><%= link_to('Procedimentos', procedimentos_path) %></li>
      </ul>  
    </li>

    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Financeiro <b class="caret"></b></a>
      <ul class="dropdown-menu">
      <li><%= link_to('Faturas', faturas_path) %></li>
      </ul>  
    </li>
  <% end %>
</ul>
<% if current_user %>
<p class="navbar-text pull-right">você esta logado como <a href="#" class="navbar-link"><%= current_user.email%> </a></p>
<ul class="nav navbar-nav navbar-right">
  <li><%= link_to('Sair', sessions_path, :method => 'delete') %></li>
</ul>
<%end%>